<div class="container">
  <h1 style="color:#0B2161"><FONT FACE="times new roman">CREAR ARTICULO</FONT></h1>
  <hr>
  <div class="col-md-4">
    <!-- Form Name -->
    <legend>Seleccione el tipo artículo</legend>
    <button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#17A649; width: 300px;" onclick="location.href='/accesorios/new';"><span class="glyphicon glyphicon-pencil"></span> Accesorios</button>
    <button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#17A649; width: 300px;" onclick="location.href='/herramientas/new';"><span class="glyphicon glyphicon-pencil"></span> Herramientas</button>
    <button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#17A649;width: 300px;" onclick="location.href='/insumos/new';"><span class="glyphicon glyphicon-pencil"></span> Insumos</button>
    <button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#17A649; width: 300px;" onclick="location.href='/repuestos/new';"><span class="glyphicon glyphicon-pencil"></span> Repuestos</button>
  </div><!-- /.col-lg-12 -->
  <!--%= render :partial => "formulario_guardar_articulo.html" %-->
  <hr>
</div>