<body>
<div class="container-">
  <div class="row">
    <div class="col-lg-12" style="text-align:center; margin:0 auto;">
      <h2 style="color:#0B2161"><FONT FACE="times new roman">
        ALUMNO
      </FONT></h2>
      <h2 style="color:#0B2161"><FONT FACE="times new roman">
        BIENVENIDO AL SISTEMA DE AGENDA DE RESERVA DE HORAS
      </FONT></h2>
      <img class="img-responsive center-block" src="http://guiaweb.usach.cl/sites/default/files/styles/large/public/UDS%20HCOLOR.png?itok=gLHO9tv-" alt="">
      <hr class="star-light">
    </div>
  </div>
</div>
</body>