<style> 
td.cortar {
    width: 100%;
    word-break: break-all;
}
</style>


<head>
	<h1 style="color:#0B2161"><FONT FACE="times new roman">CLIENTE<small>   Ver detalles del cliente.</small></FONT></h1>
	<hr>
</head>

<body><div class="container">
	<div class="container">
      <div class="row">
        <div class="table-responsive col-xs-9 col-xs-offset-1 toppad" >
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Detalles del cliente.</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div > 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td><strong>Código Cliente:</strong></td>
                        <td class="cortar">aqui va el codigo</td>
                      </tr>
                      <tr>
                        <td><strong>Nombre Completo:</strong></td>
                        <td class="cortar">aqui va el codigo</td>
                      </tr>
                      <tr>
                        <td><strong>Tipo de Cliente:</strong></td>
                        <td class="cortar">aqui va el codigo</td>
                      </tr>
                      <tr>
                        <td><strong>Empresa:</strong></td>
                        <td class="cortar">aqui va el codigo</td>
                      </tr>
                      <tr>
                        <td><strong>Teléfono:</strong></td>
                        <td class="cortar">aqui va el codigo</td>
                      </tr>
                      <tr>
                        <td><strong>e-mail:</strong></td>
                        <td class="cortar">aqui va el codigo</td>
                      </tr>                   
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="panel-footer">
                <a href="#" class="btn btn-default" style="color:#FFFFFF; background-color:#DF0101;"><span class="glyphicon glyphicon-save-file"></span> Generar PDF</a>
            </div>
            
          </div>
        </div>
      </div>
    </div>

	<br>
	<div class="col-md-1">
		<button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#5858FA;" onclick="location.href='#';"><span class="glyphicon glyphicon-arrow-left"></span> Volver </button>
	</div><br><hr>
</div></body>