<%= form_for(@cargo_empleado) do |f| %>
  <% if @cargo_empleado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cargo_empleado.errors.count, "error") %> prohibited this cargo_empleado from being saved:</h2>

      <ul>
      <% @cargo_empleado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
