<% if @accesorio.errors.any? %>
    <ul>
      <% @accesorio.errors.each do |atributo, mensaje| %>
          <li> <%= mensaje %> </li>
      <% end %>
    </ul>
<% end %>
<div class="container">
  <h1 style="color:#0B2161"><FONT FACE="times new roman">CREAR ACCESORIO</FONT></h1>
  <hr>
  <%= render :partial => "accesorios/formulario_guardar_accesorio.html" %>
  <hr>
</div>