<div class="container">
	<h1 style="color:#0B2161"><FONT FACE="times new roman">COTIZACIONES <small>   Agregar a Cotización</small></FONT></h1>
	<hr>
</div>

<div class="container" style="height: 200px">
	<div class="row">
        <h3>Seleccione la opción que desea agregar a la cotización.</h3>
        <br>
    	<div class="col-md-4"></div>
        <div class="col-md-5">
        <br><br>
          	<button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#17A649; width: 300px;" onclick="location.href='/admin/nCotAgregSer';"><span class="glyphicon glyphicon-plus"></span> Con Sevicio</button>
    		<button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#17A649; width: 300px;" onclick="location.href='/admin/nCotAgregArt';"><span class="glyphicon glyphicon-plus"></span> Sin Servicio</button>
            
        </div>
	</div><!-- /.row -->
</div>
<div class="container">
    <hr>
    <div class="row">
        <div class="col-md-1">
            <button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#5858FA;" onclick="location.href='/admin/nuevCot';"><span class="glyphicon glyphicon-arrow-left"></span> Volver </button>
        </div>
    </div>
    <hr>
</div>