<div>
    <div class="container">
    <h1 style="color:#0B2161"><FONT FACE="times new roman">LISTA DE INSUMOS <small>   Seleccione el/los insumo/s que desea agregar.</small></FONT></h1>
    <hr>
    <div class="row">
        <div class="panel panel-primary filterable">
            <div class="panel-heading" style="min-height:40px;">
                <h3 class="panel-title pull-left">INSUMOS</h3>
                <div class="pull-right">
                    <button href="javascript:;" class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filtrar</button>
                </div>
            </div>
            <table class="table" style="text-align: center"> <!-- Arreglar tabla y conectarlo con la bd-->
                <thead>
                    <tr class="filters">
                        <th><input type="text" class="form-control" placeholder="Código" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Nombre" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Marca" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Precio" disabled></th>
                        <th>Dcto</th>
                        <th>Unidades</th>
                        <th>Agregar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cod-89</td>
                        <td>Moldura universal</td>
                        <td>marca1</td>
                        <td>$3.000</td>
                        <td>10%</td>
                        <td>2</td>
                        <td>
                            <input type="checkbox" autocomplete="off">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <input type="checkbox" autocomplete="off">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <input type="checkbox" autocomplete="off">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

<div class="container"> <!--Falta agregar funcionalidades de los botones-->
    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-1">
            <p class="thick-line text-center"><strong>Subtotal</strong></p>
        </div>
        <div class="col-md-1 pull-right">
            <p class="thick-line text-right">12433</p>
        </div>
    </div>
    <hr>
</div>

<div class="container"> <!--Falta agregar funcionalidades de los botones-->
    <div class="row">
        <div class="col-md-9"></div>
        <div class="col-md-1">
            <button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#FE2E2E;" onclick="location.href='/admin/nCotAgregArt';"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
        </div>
        <div class="col-md-1 pull-right">
            <button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#04B45F;" onclick="location.href='#';"><span class="glyphicon glyphicon-save"></span> Guardar</button>
        </div>      
    </div>
    <hr>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-1">
            <%= link_to 'Volver', admin_nCotAgregArt_path %>
        </div>
        <div class="col-md-2 pull-right">
            <%= link_to 'Finalizar Cotización', admin_inicio_path %>
        </div>
    </div>
    <hr>
</div>


<div class="container">
    <div class="well well-sm text-center">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary">
                <input type="radio" name="options" id="option1" autocomplete="off">
                <span class="glyphicon glyphicon-ok"></span>
            </label>
            <label class="btn btn-default">
                <input type="radio" name="options" id="option2" autocomplete="off">
                <span class="glyphicon glyphicon-ok"></span>
            </label>
        </div>
    </div>
</div>