<div class="container">
	<h1 style="color:#0B2161"><FONT FACE="times new roman">COTIZACIONES <small>   Agregar a cotización</small></FONT></h1>
	<hr>
</div>

<div class="modal-body">
	<div class="row">
	<div class="col-md-2"></div>
	    <div class="col-md-3">
          	<legend style="text-align: center;">Agregar Artículos</legend>
          	<button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#17A649; width: 140px;" onclick="location.href='/admin/cotAgHerr';"><span class="glyphicon glyphicon-plus"></span> Herramientas</button>
			<button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#17A649; width: 140px;" onclick="location.href='/admin/cotAgRepto';"><span class="glyphicon glyphicon-plus"></span> Repuestos</button>
			<button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#17A649; width: 140px;" onclick="location.href='/admin/cotAgAcc';"><span class="glyphicon glyphicon-plus"></span> Accesorios</button>
			<button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#17A649;width: 140px;" onclick="location.href='/admin/cotAgIns';"><span class="glyphicon glyphicon-plus"></span> Insumos</button>
	      <hr>
	    </div><!-- /.col-lg-12 -->

		<div class="col-md-1"></div>

		<!--Otra columna formulario-->
	    <div class="col-md-3">
          	<legend style="text-align: center;">Agregar Reparaciones</legend>
          	<br>
          	<button type: "submit" class="btn btn-default" style="position: absolute; top: 40%; left: 25%; color:#FFFFFF; background-color:#17A649; width: 140px;" onclick="location.href='/admin/cotAgRepar';"><span class="glyphicon glyphicon-plus"></span> Reparaciones</button>
	      <hr>
	    </div><!-- /.col-lg-12 -->
	</div><!-- /.row -->
</div>
<div class="container">
    <div class="row">
        <div class="col-md-1">
            <%= link_to 'Volver', admin_nuevCot_path %>
        </div>
        <div class="col-md-2 pull-right">
            <%= link_to 'Finalizar Cotización', admin_inicio_path %>
        </div>
    </div>
    <hr>
</div>