<div class="container">
	<h1 style="color:#0B2161"><FONT FACE="times new roman">COTIZACIONES <small>   Agregar Artículos a la Cotización</small></FONT></h1>
	<hr>
</div>

<div class="modal-body">
	<div class="row">
	<div class="col-md-3"></div>
	    <div class="col-md-6">
          	<legend style="text-align: center;">Agregar Artículos</legend>
         	<button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#17A649; width: 300px;" onclick="location.href='/admin/cotAgHerr';"><span class="glyphicon glyphicon-plus"></span> Herramientas</button>
			<button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#17A649; width: 300px;" onclick="location.href='/admin/cotAgRepto';"><span class="glyphicon glyphicon-plus"></span> Repuestos</button>
			<button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#17A649; width: 300px;" onclick="location.href='/admin/cotAgAcc';"><span class="glyphicon glyphicon-plus"></span> Accesorios</button>
			<button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#17A649;width: 300px;" onclick="location.href='/admin/cotAgIns';"><span class="glyphicon glyphicon-plus"></span> Insumos</button>
	      <hr>
	    </div>
	</div><!-- /.row -->
</div>
<div class="container">
    <div class="col-md-1">
        <button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#5858FA;" onclick="location.href='/admin/cotNuevAgreg';"><span class="glyphicon glyphicon-arrow-left"></span> Volver </button>
    </div>
    <br>
    <hr>
</div>