<div class="container">
	<h1 style="color:#0B2161"><FONT FACE="times new roman">COTIZACIONES <small>   Agregar a cotización</small></FONT></h1>
	<hr>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-9">
			<h3>Agregar a cotización</h3>
			<hr>
			<button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#17A649; width: 140px;" onclick="location.href='http://localhost:3000/admin/cotAgHerr';"><span class="glyphicon glyphicon-plus"></span> Herramientas</button>
			<button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#17A649; width: 140px;" onclick="location.href='http://localhost:3000/admin/cotAgRepto';"><span class="glyphicon glyphicon-plus"></span> Repuestos</button>
			<button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#17A649; width: 140px;" onclick="location.href='http://localhost:3000/admin/cotAgAcc';"><span class="glyphicon glyphicon-plus"></span> Accesorios</button>
			<button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#17A649; width: 140px;" onclick="location.href='http://localhost:3000/admin/cotAgRepar';"><span class="glyphicon glyphicon-plus"></span> Reparaciones</button>
			<button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#17A649;width: 140px;" onclick="location.href='http://localhost:3000/admin/cotAgIns';"><span class="glyphicon glyphicon-plus"></span> Insumos</button>
		</div>
	</div>
	<hr>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-1">
			<button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#5858FA;" onclick="location.href='http://localhost:3000/admin/nuevCot';"><span class="glyphicon glyphicon-arrow-left"></span> Volver</button>
		</div>
	</div>
	<hr>
</div>
