<div class="container">
	<h1 style="color:#0B2161"><FONT FACE="times new roman">COTIZACIONES <small>   Agregar Servicios a la Cotizaci贸n</small></FONT></h1>
	<hr>
</div>

<div class="modal-body">
	<div class="row">
	<div class="col-md-3"></div>
	    <div class="col-md-6">
          	<legend style="text-align: center;">Agregar Servicios a la Cotizaci贸n</legend>
            <button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#17A649; width: 300px;" onclick="location.href='/admin/cotAgRepar';"><span class="glyphicon glyphicon-plus"></span> Reparaci贸n</button>
            <button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#17A649; width: 300px;" onclick="location.href='/admin/cotAgInstal';"><span class="glyphicon glyphicon-plus"></span> Instalaci贸n</button>
	      <hr>
	    </div>
	</div><!-- /.row -->
</div>
<div class="container">
    <div class="col-md-1">
        <button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#5858FA;" onclick="location.href='/admin/cotNuevAgreg';"><span class="glyphicon glyphicon-arrow-left"></span> Volver </button>
      </div>
    </div>
    <hr>
</div>