<footer class="container" style="min-height:150px; background-color:#0B2161;color:#fff;text-align:center;padding-top:50px;">
        ServiVentas @2016
        <p></p>
        Sebastián Calderón - Verónica Domínguez - Daniel Morales
</footer> 