<nav class="navbar navbar-default" style="width: 100%; height: 100%">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://localhost:3000/">ServiVentas</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a <strong> Logueado como <%= current_empleado.email %></strong> </a></li>
        <li><a <%= link_to "Cerrar Sesion", destroy_empleado_session_path, method: :delete, :class => 'navbar-link'  %></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ventas<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/doc_previos/index">Cotizaciones</a></li>
              <li><a href="/admin/ordComp">Órdenes de Compra</a></li>
              <li><a href="/admin/notVent">Notas de Ventas</a></li>
            </ul>
          </li>
          <li><a href="/admin/OT">Órdenes de Trabajo</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Clientes y Vehículos<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/clientes/index">Clientes</a></li>
              <li><a href="#">Vehículos</a></li>
            </ul>
          </li>
           <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Servicios y Stock<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/admin/servicio">Servicios</a></li>
              <li><a href="/admin/articulo">Artículos</a></li>
            </ul>
          </li>
           <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administración<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/empleados/index">Administrar Usuarios</a></li>
              <li><a href="#">Reportes de Ventas</a></li>
              <li><a href="#">Modificar Precio de Artículo</a></li>
              <li><a href="#">Modificar Precio de Servicio</a></li>
              <li><a href="/admin/registro">Registros</a></li>
            </ul>
          </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>