<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://localhost:3000/admin/inicio">ServiVentas</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Admin</a></li>
        <li><a href="#">Salir</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ventas<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="http://localhost:3000/admin/cotizacion">Cotizaciones</a></li>
              <li><a href="http://localhost:3000/admin/ordComp">Órdenes de Compra</a></li>
              <li><a href="http://localhost:3000/admin/notVent">Notas de Ventas</a></li>
            </ul>
          </li>
          <li><a href="http://localhost:3000/admin/OT">Órdenes de Trabajo</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Clientes y Vehículos<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="http://localhost:3000/admin">Clientes</a></li>
              <li><a href="http://localhost:3000/admin">Vehículos</a></li>
            </ul>
          </li>
           <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Servicios y Stock<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="http://localhost:3000/admin">Servicios</a></li>
              <li><a href="http://localhost:3000/admin">Stock</a></li>
            </ul>
          </li>
           <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administración<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="http://localhost:3000/admin">Administrar Usuarios</a></li>
              <li><a href="http://localhost:3000/admin">Reportes de Ventas</a></li>
              <li><a href="http://localhost:3000/admin">Modificar Precio de Artículo</a></li>
              <li><a href="http://localhost:3000/admin">Modificar Precio de Servicio</a></li>
            </ul>
          </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>