
<div class="container">
  <h1 style="color:#0B2161"><FONT FACE="times new roman">ADMINISTRAR COTIZACIONES <small>   Editar, eliminar y crear nuevas cotizaciones</small></FONT></h1>
  <hr><br>
</div>
<div class="container">
  <h3>Seleccione el tipo de cotización</h3><br><br>
  <div class="col-md-4">
    <button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#17A649; width: 400px;" onclick="location.href='/cots_odc_art/index';"><span class="glyphicon glyphicon-pencil"></span> Cotización por Artículos</button><br><hr><br>
    <button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#17A649; width: 400px;" onclick="location.href='/servs_inst/index';"><span class="glyphicon glyphicon-pencil"></span> Cotización por Servicios de Instalación</button><br><hr><br>
    <button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#17A649;width: 400px;" onclick="location.href='/serv_reps/index';"><span class="glyphicon glyphicon-pencil"></span> Cotizacióm por Servicios de Reparación</button>
    <br><br><hr><br>
  </div>
</div>