<% if !@detalle.nil? && @detalle.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @detalle.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<% if @detalles.size == 0 %>
    <p class="text-center">
      There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
    </p>
<% else %>
    <% @detalles.each do |order_item| %>
        <%= render 'carros/carro_fila', product: detalle.articulo, order_item: detalle, show_total: true %>
    <% end %>
<% end %>