<head>
<%= render 'shared/navbarAdmin' %>
<%= yield %>
</head>

<body>
<div class="container-">
        <div class="row">
            <div class="col-lg-12" style="text-align:center; margin:0 auto;">
                <h2 style="color:#0B2161"><FONT FACE="times new roman">
                  ADMINISTRADOR
                </FONT></h2>
                <h2 style="color:#0B2161"><FONT FACE="times new roman">
                  BIENVENIDO A
                </FONT></h2>
                <img class="img-responsive center-block" src="http://serviventas.cl/wp-content/uploads/2015/02/Logo_ServiVentas.jpg" alt="">
                <hr class="star-light">                
            </div>
        </div>
    </div>
</body>

<div>
  <%= render 'shared/footer' %>
  <%= yield %>
</div>