<head>
<%= render 'shared/navbarAdmin' %>
<%= yield %>
</head>

<body>
	<div class="container">
	    <h1 style="color:#0B2161"><FONT FACE="times new roman">ADMINISTRAR USUARIOS <small>   Editar, eliminar y crear nuevos usuarios</small></FONT></h1>
	    <hr>
	    <div><button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#2DB171;" onclick="location.href='http://localhost:3000/admin/agregUsr';"><span class="glyphicon glyphicon-plus"></span> Crear Nuevo Usuario</button>
	    <hr>
		</div>
    </div>
	<div class="container">
		<div class="row">
	        <div class="panel panel-primary filterable">
	            <div class="panel-heading" style="min-height:40px;">
	                <h3 class="panel-title pull-left">Usuarios del Sistema</h3>
	                <div class="pull-right">
	                    <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filtrar</button>
	                </div>
	            </div>
	            <table class="table">
	                <thead>
	                    <tr class="filters">
	                    	<th></th>
	                    	<th></th>
	                        <th><input type="text" class="form-control" placeholder="Cargo" disabled></th>
	                        <th><input type="text" class="form-control" placeholder="Nombre" disabled></th>
	                        <th><input type="text" class="form-control" placeholder="Apellido" disabled></th>
	                        <th><input type="text" class="form-control" placeholder="RUT" disabled></th>
	                        <th>Teléfono</th>
	                        <th><input type="text" class="form-control" placeholder="e-mail" disabled></th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr>
	                    	<td class="td-actions">
	                            <a href="javascript:;" class="btn btn-default btn-xs" title="Editar" onclick="location.href='http://localhost:3000/admin/editUsr';"><i class="glyphicon glyphicon-edit"></i></a>
                        	</td>
                        	<td class="td-actions">
	                            <a href="javascript:;" class="btn btn-default btn-xs" title="Eliminar" style="color:#FFFFFF; background-color: #DF0101;" onclick="location.href='http://localhost:3000/admin/elimUsr';"><i class="glyphicon glyphicon-remove"></i></a>
                        	</td>
                        	<td>Vendedor</td>
	                        <td>Mark</td>
	                        <td>Otto</td>
	                        <td>21.345.678-9</td>
	                        <td>1234567890</td>
	                        <td>sad@sad.com</td>
	                    </tr>
	                    <tr>
	                        <td class="td-actions">
	                            <a href="javascript:;" class="btn btn-default btn-xs" title="Editar" onclick="location.href='http://localhost:3000/admin/editUsr';"><i class="glyphicon glyphicon-edit"></i></a>
                        	</td>
                        	<td class="td-actions">
	                            <a href="javascript:;" class="btn btn-default btn-xs" title="Eliminar" style="color:#FFFFFF; background-color: #DF0101;" onclick="location.href='http://localhost:3000/admin/elimUsr';"><i class="glyphicon glyphicon-remove"></i></a>
                        	</td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                    </tr>
	                </tbody>
	            </table>
	        </div>
	    </div>
	    <hr>
	</div>
	<div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-1">
				<button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#5858FA;" onclick="location.href='http://localhost:3000/admin/inicio';"><span class="glyphicon glyphicon-arrow-left"></span> Volver </button>
			</div>
		</div>
		<hr>
	</div>
</body>

<div>
  <%= render 'shared/footer' %>
  <%= yield %>
</div>